[submodule "deps/cpptoml"]
	path = deps/cpptoml
	url = https://github.com/skystrife/cpptoml.git
	branch = master
[submodule "deps/findicu"]
	path = deps/findicu
	url = https://github.com/julp/FindICU.cmake.git
[submodule "deps/meta-stlsoft"]
	path = deps/meta-stlsoft
	url = https://github.com/meta-toolkit/meta-stlsoft.git
[submodule "deps/meta-cmake"]
	path = deps/meta-cmake
	url = https://github.com/meta-toolkit/meta-cmake.git
